<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/logo.png">-->
    <meta name="theme-color" content="#000000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/scss/typography.css">
    <link rel="stylesheet" href="/scss/header.css">
    <link rel="stylesheet" href="/scss/home.css">
    <link rel="stylesheet" href="/scss/signon.css">
    <link rel="stylesheet" href="/scss/dashboard/dashboard.css">
    <script src="/js/signon.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">
    <script src="/js/lenis.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/@barba/core" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
</head>

<body data-barba="wrapper">


<div id="header">
    <div id="header-left">
        <a id="header-name-link" href="/"><h1 id="header-name">WWT</h1></a>
    </div>
    <div id="header-right">
        <a class="header-link" href="/dashboard?page=works">Works</a>
        <a class="header-link" href="/dashboard">Dashboard</a>
        <a class="header-link" id="header-account-icon" href="/signon"><img src="/images/accounticon.png" alt="account-icon"></a>
    </div>
</div>


<div data-barba="container" data-barba-namespace="dashboard" class="page-content" style="position:absolute;">


    <div id="dashboard-page">

        <!--
        Main landing area with stats on things like word count or whatever,
        Browse works in tiles, click to access work specific page.
         -->
        <div id="dashboard-sidebar">
            <div id="sidebar-account">
                <i class="fa-solid fa-user"></i>
                <h5 id="account-title" th:text="${accountname}"></h5>
            </div>
            <div id="sidebar-links">
                <div class="sidebar-link" th:classappend="${section.equals('dashboard')} ? activepanel : disabled">
                    <i class="fa-solid fa-book"></i>
                    <h5 class="sidebar-label">Dashboard</h5>
                </div>
                <div class="sidebar-link" th:classappend="${section.equals('works')} ? activepanel : disabled">
                    <i class="fa-solid fa-book"></i>
                    <h5 class="sidebar-label">Works</h5>
                </div>
                <div class="sidebar-link" th:classappend="${section.equals('create')} ? activepanel : disabled">
                    <i class="fa-solid fa-book"></i>
                    <h5 class="sidebar-label">Create</h5>
                </div>
                <div class="sidebar-link" th:classappend="${section.equals('goals')} ? activepanel : disabled">
                    <i class="fa-solid fa-book"></i>
                    <h5 class="sidebar-label">Goals</h5>
                </div>
            </div>
        </div>


        <div class="dashboard-content" th:if="${section.equals('dashboard')}">

        </div>


        <div class="dashboard-content" th:if="${section.equals('works')}">

        </div>


        <div class="dashboard-content" th:if="${section.equals('create')}">
            <form id="newwork-form" onsubmit="return false;">
                <div class="row-align">
                    <label for="newwork_title">Title</label>
                    <input type="text" id="newwork_title">
                </div>
                <div class="col-align">
                    <button id="newwork-submit">Create Work</button>
                </div>

            </form>
        </div>


        <div class="dashboard-content" th:if="${section.equals('goals')}">

        </div>

    </div>


    <footer>
        <em id="footer-message">Made from scratch by Joseph Kopecky</em>
        <div id="footer-links">
            <a href="https://jkopecky.dev">Portfolio</a>
        </div>
    </footer>

</div>


</body>

<script src="/js/barba-config.js"></script>

</html>