<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Writer's WebTools</title>
  <!--<link rel="icon" type="image/x-icon" href="/images/logo.png">-->
  <meta name="theme-color" content="#000000"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/scss/core.css">
  <script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://unpkg.com/@barba/core" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.bubble.css" rel="stylesheet" />
  <script src="/js/lenis.js"></script>
  <script src="/js/signon.js"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/work.js"></script>
</head>

<body data-barba="wrapper">


<div id="header">
  <div id="header-left">
    <a id="header-name-link" href="/"><h1 id="header-name">WWT</h1></a>
  </div>
  <div id="header-right">
    <a class="header-link" href="/dashboard?section=works">Works</a>
    <a class="header-link" href="/dashboard?section=stats">Stats</a>
    <a class="header-link" href="/dashboard">Dashboard</a>
    <a class="header-link" id="header-account-icon" href="/signon"><img src="/images/accounticon.png" alt="account-icon"></a>
  </div>
</div>


<div data-barba="container" data-barba-namespace="page" class="page-content" style="position:absolute;">


  <div id="home-page">



  </div>


  <footer>
    <em id="footer-message">Made from scratch by Joseph Kopecky</em>
    <div id="footer-links">
      <a href="https://jkopecky.dev">Portfolio</a>
    </div>
  </footer>

</div>


</body>

<script src="/js/barba-config.js"></script>

</html>