<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signon</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/logo.png">-->
    <meta name="theme-color" content="#000000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/scss/core.css">
    <script src="/js/signon.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">
    <script src="/js/lenis.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/@barba/core" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
</head>

<body data-barba="wrapper">


<div id="header">
    <div id="header-left">
        <a id="header-name-link" href="/"><h1 id="header-name">WWT</h1></a>
    </div>
    <div id="header-right">
        <a class="header-link" href="/dashboard?section=works">Works</a>
        <a class="header-link" href="/dashboard?section=stats">Stats</a>
        <a class="header-link" href="/dashboard">Dashboard</a>
        <a class="header-link" id="header-account-icon" href="/signon"><img src="/images/accounticon.png" alt="account-icon"></a>
    </div>
</div>


<div data-barba="container" data-barba-namespace="page" class="page-content" style="position:absolute;">


    <div id="signon-page">

        <form id="signin-form" th:if="${mode.equals('signin')}" onsubmit="return false;">
            <div class="row-align">
                <label for="signin_usernameInput">Username</label>
                <input type="text" id="signin_usernameInput">
            </div>
            <div class="row-align">
                <label for="signin_passwordInput">Password</label>
                <input type="password" id="signin_passwordInput">
            </div>
            <div class="col-align">
                <button id="signin-submit">Sign In</button>
                <a href="/signon?mode=signup">Or Sign Up</a>
            </div>
        </form>


        <form id="signup-form" th:if="${mode.equals('signup')}" onsubmit="return false;">
            <div class="row-align">
                <label for="signup_usernameInput">Username</label>
                <input type="text" id="signup_usernameInput">
            </div>
            <div class="row-align">
                <label for="signup_passwordInput">Password</label>
                <input type="password" id="signup_passwordInput">
            </div>
            <div class="row-align">
                <label for="signup_confirmInput">Confirm Password</label>
                <input type="password" id="signup_confirmInput">
            </div>
            <div class="col-align">
                <button id="signup-submit">Sign Up</button>
                <a href="/signon?mode=signin">Or Sign In</a>
            </div>

        </form>

    </div>


    <footer>
        <em id="footer-message">Made from scratch by Joseph Kopecky</em>
        <div id="footer-links">
            <a href="https://jkopecky.dev">Portfolio</a>
        </div>
    </footer>

</div>


</body>

<script src="/js/barba-config.js"></script>

</html>