@import 'constants';

#work-page {
  height: 85vh;
  padding-top: 15vh;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1vw;

  #chapter-sidebar-container {
    position: relative;
    height: 100%;
    width: 23vw;
    flex-shrink: 0;

    #chapter-sidebar-button {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      i {
        color: $primary;
        font-size: 3em;
      }
    }
  }

  #chapter-sidebar {
    width: 90%;
    padding: 5%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    gap: 2vh;
    height: 100%;
    background: darken($secondary, 1%);
    position: relative;
    border-radius: 1em;
    h3 {
      width: 100%;
    }
    .chapter-nav-tile {
      border-radius: 1em;
      padding: 0.5em;
      margin: 5%;
      transition: background 0.5s ease-in-out;
      width: 90%;

      .chapter-nav-text {
        text-overflow: ellipsis;
        transition: color 0.5s ease-in-out;
      }
    }
    .chapter-nav-tile:hover {
      background: $primary;
      .chapter-nav-text {
        color: $secondary;
      }

    }
  }

  #work-info-panel {
    flex-grow: 1;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    gap: 5vh;

    #work-metadata-panel {
      flex: 1;
      width: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      #work-summary {
        flex: 1;
        max-width: 50%;
        min-width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        #summary-input {
          width: 90%;
          flex: 1;
          margin: 4%;
          padding: 1%;
        }
      }
      #work-otherdata {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
      }
    }
  }


  #new-chapter-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparentize($secondary, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    #new-chapter-popup {
      padding: 4em;
      background: darken($secondary, 2%);
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      gap: 3vh;
      border-radius: 1em;
      #side-align-chapter {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        input {
          width: 30%;
        }
      }
    }
  }


  #chapter-panel {
    flex-grow: 1;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    gap: 5vh;
    max-width: 65vw;
    #chapter-top {
      width: 90%;
      border-bottom: 1px solid transparentize($primary, 0.5);
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-evenly;
      padding-bottom: 1em;
      #chapter-title {
        flex: 1;
      }
      #chapter-top-interaction {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 1vw;
        button {
          width: fit-content;
        }
        i {
          font-size: 2em;
          color: $primary;
        }
      }
    }
    #chapter-content {
      width: 90%;
      flex: 1;
    }
  }


  #view-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparentize($secondary, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
    top: 0;
    #view-panel {
      width: 90%;
      height: 90%;
      padding: 5%;
      background: $secondary;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: start;
      #view-top-options {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: end;
        gap: 2vw;
        button {
          width: fit-content;
        }
        i {
          font-size: 2em;
          color: $primary;
        }
      }
      #view-panels {
        flex: 1;
        width: 100%;
        height: 90%;
        margin-top: 5vh;
        #editor {
          width: 98%;
          height: 95%;
          margin: 2%;
          border-radius: 1em;
          border: 1px solid $primary;
        }
      }
    }
  }

}